# use glob syntax.
syntax: glob
target/
.svn/
.settings
.cache
.cache-main
.cache-tests
.classpath
.project
.metadata
.pydevproject
*.iml
*.ipr
*.iws
*.log
build-number.txt
atlassian-ide-plugin.xml
.gradle/
.idea/
out/
build/
classes/
bin/
test-output/
s101plugin.state
.DS_Store
itest.properties
!overthere-plugin/src/test/resources/itest.properties
recovery/
tasker/tasker-akka/work/
.vscode/
.vscode/settings.json

# Prevent checking in big sample data
docker/sampleData/XebiaLabs
docker/sampleData/unknown1
docker/client-app/libs/*.war
docker/data-processing/app
docker/data-ingestion/libs/*.war
docker/crawler-github/libs/*.jar
docker/crawler-jenkins/libs/*.jar
docker/crawler-jira/libs/*.jar
docker/crawler-bitbucket/libs/*.jar
docker/crawler-travis/libs/*.jar
docker/elasticsearch/libs/*.jar
docker/stackdrivermetrics/libs/*.jar
sampleData/**/*
!sampleData/.gitkeep
sampleData-*

package-lock.json
